.card {
  width: 250px;
  height: 300px;
  background-color: #ff0000; /* Red color for the card */
  position: relative;
  overflow: hidden;
}

.card:hover .hover-text {
  opacity: 1;
}

.card:hover .card-image {
  /* filter: blur(5px); Blur the image on hover */
}

.card-image {
  position: relative;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.hover-text {
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05); /* Slightly zoom the card on hover */
}
